<!-- data binding to properties --> 
<!-- Interpolation refers to embedding expressions into marked up text. The text between the braces is often the name of a component property. Angular replaces that name with the string value of the corresponding component property. -->

<!-- Two-way data binding: data flows from the component class out to the screen and from the screen back to the class. 

[(ngModel)] is Angular's two-way data binding syntax.

Here it binds the pokemon.name property to the HTML textbox so that data can flow in both directions: from the pokemon.name property to the textbox, and from the textbox back to the pokemon.name. -->

<!-- use a pipe for the species, pipes are good for formatting display data -->

<h2>My Pokemon</h2>
<div>
	<label>Name: 
		<input #pokemonName />
	</label>
	<label>Dex Number: 
		<input #pokemonDex />
	</label>
	<label>Species: 
		<input #pokemonSpecies />
	</label>
	<label>CP: 
		<input #pokemonCP />
	</label>
	<label>Type: 
		<input #pokemonType />
	</label>
	<!-- (click) passes input value to add() and then clears the input -->
	<button (click)="add(pokemonCP.value, pokemonDex.value, pokemonSpecies.value, pokemonType.value, pokemonName.value); pokemonCP.value=''; pokemonDex.value=''; pokemonSpecies.value=''; pokemonType.value=''; pokemonName.value=''">
		Add
	</button>
</div>

<ul class="pokemons">
	<!-- ngFor is a repeater directive, repeats the host element (in this case, li) for each element in a list

		event binding syntax - parentheses around click tells Angular
		to listen for the <li> element's click event. On user click, 
		Angular executes the onSelect(pokemon) expression

		class binding - allows us to add/remove a CSS class conditionally.
		when the condition is true, Angular adds the selected CSS class,
		else it removes the class. -->
	<li *ngFor="let pokemon of pokemons">
		<a routerLink="/detail/{{pokemon.id}}">
			<span class="pokeid">
				{{pokemon.dex}} - {{pokemon.species | uppercase}}
			</span> {{pokemon.name}}
		</a>
		<button class="delete" title="delete pokemon" (click)="delete(pokemon)">x</button>
	</li>
</ul>

<!-- child component, controlled by the parent PokemonComponent
	the parent sends this component a new Pokemon to display on user selection from the list 

	property binding is one-way data binding from the PokemonComponent's
	selectedPokemon property to the child PokemonDetailComponent's pokemon property, which maps to the pokemon property of the PokemonDetailComponent. When user selects a Pokemon, the property binding updates pokemon, and the PokemonDetailComponent shows the new Pokemon. -->
<!--<app-pokemon-detail [pokemon]="selectedPokemon"></app-pokemon-detail>-->

