<!-- data binding to properties --> 
<!-- Interpolation refers to embedding expressions into marked up text. The text between the braces is often the name of a component property. Angular replaces that name with the string value of the corresponding component property. -->

<!-- Two-way data binding: data flows from the component class out to the screen and from the screen back to the class. 

[(ngModel)] is Angular's two-way data binding syntax.

Here it binds the pokemon.name property to the HTML textbox so that data can flow in both directions: from the pokemon.name property to the textbox, and from the textbox back to the pokemon.name. -->

<!-- use a pipe for the species, pipes are good for formatting display data -->

<h2>My Pokemon</h2>
<ul class="pokemons">
	<!-- ngFor is a repeater directive, repeats the host element (in this case, li) for each element in a list

		event binding syntax - parentheses around click tells Angular
		to listen for the <li> element's click event. On user click, 
		Angular executes the onSelect(pokemon) expression

		class binding - allows us to add/remove a CSS class conditionally.
		when the condition is true, Angular adds the selected CSS class,
		else it removes the class. -->
	<li *ngFor="let pokemon of pokemons" 
	   (click)="onSelect(pokemon)"
 	   [class.selected]="pokemon === selectedPokemon">
		<span class="pokeid">
			{{pokemon.dex}} - {{pokemon.species | uppercase}}
		</span> {{pokemon.name}}
	</li>
</ul>

<!-- when selectedPokemon is undefined, ngIf removes the detail from the DOM, hence there are no selectedPokemon bindings to consider. When the user picks a Pokemon, selectedPokemon has a value, and ngIf puts the Pokemon detail into the DOM. -->
<div *ngIf="selectedPokemon">
	<h2>{{selectedPokemon.dex}} - {{selectedPokemon.species | uppercase}} - {{selectedPokemon.name}}</h2>
	<div>
		<label>Name: 
			<input [(ngModel)]="selectedPokemon.name" placeholder={{selectedPokemon.species}}/>
		</label>
	</div>
	<div><span>Type: {{selectedPokemon.type}}</span></div>
	<div><span>CP: {{selectedPokemon.cp}}</span></div>
</div>
